.cover-letter-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
  
.cover-letter-detail-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.image-container {
    margin-bottom: 20px;
}
  
.cover-letter-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
  
.metadata {
    text-align: left;
    margin-top: 20px;
}
  
.metadata p {
    margin: 10px 0;
    font-size: 1rem;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

.actions button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.actions button:hover{
    background-color: #656565;
    color: white;
}


.pdf-container {
    text-align: center;
    margin: 20px 0;
}
  
.view-pdf-button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
.view-pdf-button:hover {
    background-color: #0056b3;
}
  
.view-pdf-button:active {
    transform: translateY(2px);
}
  
  