.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}
  
.login-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
  
.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
  
.login-button,
.demo-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
 }
  
.login-button {
    background-color: #007bff;
    color: white;
}
  
.login-button:hover {
    background-color: #0056b3;
}
  
.demo-button {
    background-color: #1a1b71;
    color: white;
}
  
.demo-button:hover {
    background-color: #170b3d;
}
  
.error-text {
    color: red;
    font-size: 0.875rem;
    margin-bottom: 10px;
    text-align: left;
}
  
.signup-text {
    margin-top: 15px;
    font-size: 0.875rem;
}
  
.signup-link {
    color: #007bff;
    text-decoration: none;
}
  
.signup-link:hover {
    text-decoration: underline;
}
  
.label-for-login{
    font-weight: bold;
}